/***************************/
/*        GENERAL          */
/***************************/

@font-face {
  src: url(./assets/fonts/omnes-regular-webfont.ttf);
  font-family: omnes, sans-serif;
}

body{
  max-width: 2600px;
  min-width: 300px;
}

h1{
  font-family: omnes, sans-serif;
  font-size: 26px;
  font-weight: bold;
}

/***************************/
/*         HEADER          */
/***************************/

.header{

  background-image: url(./assets/nsv_header1.png);
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

/***************************/
/*          MAIN           */
/***************************/

.mainframe{
  width: 50%;
  margin: 80px auto;
  text-align: center;
  font-family: omnes, sans-serif;
}

